#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.heading{

  position: relative;
  top: -5pc;
  left: 2pc;
  color: darkslategray;
}

.steps{

  position: relative;
  left: -1pc;
  top: -2pc;
  color: firebrick;
  font-size: small;
}

.install{

  position: relative;
  left: -16.3pc;
  top: 1.5pc;
  font-size: small;
  color: firebrick;
  font-weight:bold;
}

.start{
 
  position: relative;
  left: -16pc;
  top: 2pc;
  font-size: small;
  color: firebrick;
  font-weight:bold;
}

.description{

  position: absolute;
  top: 6pc;
  left: 25pc;
  font-size: medium;
  color: brown;
}

.additional{

  position: relative;
  top: 3pc;
  left: -18pc;

}